:where(.trigger) {
    --anchor-name: attr(data-anchor type(<custom-ident>));
    /* anchor-name: --tooltip; */
    anchor-name: var(--anchor-name);
}

:where(.tooltip) {
    --anchor-name: attr(data-anchor type(<custom-ident>));
    --position-area-block: attr(
        data-anchor-position-block type(<custom-ident>),
        block-start
    );
    --position-area-inline: attr(
        data-anchor-position-inline type(<custom-ident>),
        span-all
    );

    position: absolute;
    inset: auto;
    margin: unset;
    /* position-anchor: --tooltip; */
    position-anchor: var(--anchor-name);
    /* position-area: center top; */
    /* position-area: var(--position-area); */
    position-area: var(--position-area-block) var(--position-area-inline);
    /* position-area: block-end center; */
    /* position-area: top right; */

    position-try-fallbacks: flip-block, flip-inline;
}
